
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Display Order System </title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
	<style>
		body {
			font-family: 'Roboto', sans-serif;
            color:#fff;
		}
		html,body,.col-md-12,.row {
			height:100%;
            background-color:#555555;
		}
        .table {
            color:#000;
        }
        table thead {
            color:#333;
        }
		.row {
			background-color:#555555;
		}
        .order-list li {
            color:#fff;
            padding:5px 20px;
            margin:0;
            font-size:60px;
        }
        .order-list li img {
            height: 50px;
        }
	</style>
 </head>
 <body>
	<div class="row" style="padding:0;margin:0;">
		<div class="col-md-12" style="padding:0;margin:0;">
			<h1 style="background-color:#555;color:#fff;padding:20px;margin:0;">Now Serving</h1>
            <ul class="nav nav-list order-list" style="margin:0;" id="ready-list">
                <% orders.forEach(function(order) { %>
				<li id="<%=order._id%>" style="background-color:#<%=order.store.color%>;">
					<%=order.order_no%>
					<span class="pull-right"><img src="images/<%=order.store.image%>" /></span>
				</li>
                <% }); %>
            </ul>
		</div>
	</div>     
     <script type="text/javascript">
        $(document).ready(function () {
           var socket = io();
           socket.on('order-added', function (data) {
               var order = data.order;
               var ul = $('#ready-list');
               ul.append(
                    $('<li>').attr({
                        id: order._id,
                        style: 'background-color:#'+order.store.color
                    }).text(order.order_no).append(
                        $('<span class="pull-right">').append(
                            $('<img>').attr('src','images/'+order.store.image)
                        )
                    )
               );
                //console.log(data);
                //window.location.reload(true);
           });
           socket.on('order-deleted', function (data) {
               var id = data.id;
               if (document.getElementById(id) !== null) {
                    $('#'+id).remove();
               }
               else
                window.location.reload(true);
           })
        });
     </script>
</body>
</html>
