<ul class="orders">
  <% for(var i=0; i<orders.length; i++) { %>
    <li class="order">
      <span><%= orders[i].store %></span>
      <span><%= orders[i].order_no %></span>
    </li>
  <% } %>
    <h3>Enter Ready Number</h3>
    <form action="/orders" method="POST">
        <input type="text" placeholder="store" name="store">
        <input type="text" placeholder="order#" name="order_no">
        <button type="submit">Submit</button>
    </form>    
</ul>